<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:green">
  <a class="navbar-brand" href="#">Sample Application</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" >
    <ul class="navbar-nav ms-auto">
      <li class="nav-item active">
        <a class="nav-link"  >Home <span class="sr-only">Page</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/createuser']" routerLinkActive="router-link-active" >Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/loginuser']" routerLinkActive="router-link-active" >Login</a>
      </li>
    </ul>
  </div>
</nav>

