<div class="datainfo">
  <div class="container" style="background-color:whitesmoke; width: 50%;">
    <h2 style="text-align: center; color: chartreuse;">Please Login</h2>
  <form #loginform='ngForm' (ngSubmit)='loginUser()' class="is-validated">
    <div for="emailid" class="form-group" >
      <label class="focus-label">Email</label>
      <input type="email" class="form-control" name="emailid"
        pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" autofocus=""
        placeholder="Please Enter email" #emailid="ngModel"
        [class.is-invalid]="emailid.invalid && emailid.touched" [(ngModel)]="user.email"
        required>
      <div *ngIf="emailid.errors &&(emailid.invalid && emailid.touched)">
        <small class="text-danger" *ngIf="emailid.errors.required"> Enter the Email Id</small>
        <small class="text-danger" *ngIf="emailid.errors.pattern"> Enter valid Email ID</small>
      </div>
    </div> &nbsp;
    <div for="passw" class="form-group form-focus">
      <label class="focus-label">Password</label>
      <input type="password" class="form-control" name="passw" placeholder="Please enter password" #passw="ngModel"
        [class.is-invalid]="passw.invalid && passw.touched" [(ngModel)]="user.password" required>
      <small [class.d-none]="passw.valid || passw.untouched" class="text-danger">Enter the
        password</small>
    </div> &nbsp;
    <div class="text-right">
    </div>
    <button class="btn btn-primary btn-block btn-lg login-btn" type="submit" [disabled]="loginform.invalid" >Login</button>




  </form>

</div>
</div>
